# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: rgallego <rgallego@student.42madrid>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/09/14 12:47:31 by rgallego          #+#    #+#              #
#    Updated: 2022/03/09 17:09:10 by rgallego         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

### Make files ###
date
gcc
hostname
fdf
*.*.swp
*.o
*.d

### minilib ###
mlx/
libmlx.dylib

### Test files ###
test_maps/
