
services:
  mariadb:
    build:
      context: ./requirements/mariadb
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
      secrets:
        - db_user_password
        - db_root_password
    volumes:
      # - ./requirements/mariadb/data:/data
      - mariadb_data:/data
    ports:
      - 3306:3306
    networks:
      - net
  wordpress:
    build:
      context: ./requirements/wordpress
    depends_on:
      - mariadb
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      DB_HOST: mariadb
      WP_DEBUG: ${WP_DEBUG}
      WP_DEBUG_LOG: ${WP_DEBUG_LOG}
      # FAST_CGI_SRC_HOST: nginx
    volumes:
      - wordpress_data:/var/www/html
      - ./requirements/wordpress/conf/wp-config.php:/var/www/html/wp-config.php:ro
      - ./requirements/wordpress/conf/www.conf:/etc/php83/php-fpm.d/www.conf:ro
    ports:
      - 9000:9000
    networks:
      - net
    secrets:
        - db_user_password
  nginx:
    build:
      context: ./requirements/nginx
      # args:
      #   FAST_CGI_DST_HOST: wordpress
    depends_on:
      - wordpress
    # hostname: nginx-container
    volumes:
      - wordpress_data:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 443:443
    networks:
      - net

networks:
  net:
    name: net
    driver: bridge

secrets:
  db_user_password:
    file: ../secrets/db_user_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./requirements/mariadb/data
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./requirements/wordpress/html
  