
services:
  mariadb:
    build:
      context: ./requirements/mariadb
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
    volumes:
      - ./requirements/mariadb/data:/data
    networks:
      - net
    secrets:
      - db_user_password
      - db_root_password
  wordpress:
    build:
      context: ./requirements/wordpress
    depends_on:
      - mariadb
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      DB_HOST: mariadb
      WP_DEBUG: ${WP_DEBUG}
      WP_DEBUG_LOG: ${WP_DEBUG_LOG}
    volumes:
      - ./requirements/wordpress/html:/var/www/html
      - ./requirements/wordpress/conf/wp-config.php:/var/www/html/wp-config.php:ro
      - ./requirements/wordpress/conf/www.conf:/etc/php83/php-fpm.d/www.conf:ro
    networks:
      - net
    secrets:
        - db_user_password
  nginx:
    build:
      context: ./requirements/nginx
    depends_on:
      - wordpress
    volumes:
      - ./requirements/wordpress/html:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 443:443
    networks:
      - net

networks:
  net:
    name: net
    driver: bridge

secrets:
  db_user_password:
    file: ./secrets/db_user_password.txt
  db_root_password:
    file: ./secrets/db_root_password.txt
  