services:
  mariadb:
    build:
      context: ./requirements/mariadb
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
    volumes:
      - mariadb-data:/data
      - ./requirements/mariadb/conf/mariadb-server.cnf:/etc/my.cnf.d/mariadb-server.cnf
    networks:
      - inception-net
    restart: always
    secrets:
      - db_user_password
      - db_root_password
  wordpress:
    build:
      context: ./requirements/wordpress
    depends_on:
      - mariadb
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_USER_PASSWORD_FILE: /run/secrets/db_user_password
      DB_HOST: mariadb
      WP_DEBUG: ${WP_DEBUG}
      WP_DEBUG_LOG: ${WP_DEBUG_LOG}
      WP_URL: ${DOMAIN}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN: ${WP_ADMIN}
      WP_ADMIN_PASSWORD_FILE: /run/secrets/wp_admin_password
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER: ${WP_USER}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
      WP_USER_PASSWORD_FILE: /run/secrets/wp_user_password
      WP_AUTH_KEY_FILE: /run/secrets/wp_auth_key
      WP_AUTH_SALT_FILE: /run/secrets/wp_auth_salt
      WP_LOGGED_IN_KEY_FILE: /run/secrets/wp_logged_in_key
      WP_LOGGED_IN_SALT_FILE: /run/secrets/wp_logged_in_salt
      WP_NONCE_KEY_FILE: /run/secrets/wp_nonce_key
      WP_NONCE_SALT_FILE: /run/secrets/wp_nonce_salt
      WP_SECURE_AUTH_KEY_FILE: /run/secrets/wp_secure_auth_key
      WP_SECURE_AUTH_SALT_FILE: /run/secrets/wp_secure_auth_salt
    volumes:
      - wordpress-html:/var/www/html
      - ./requirements/wordpress/conf/wp-config.php:/var/www/html/wp-config.php:ro
      - ./requirements/wordpress/conf/www.conf:/etc/php83/php-fpm.d/www.conf:ro
    networks:
      - inception-net
    restart: always
    secrets:
        - db_user_password
        - wp_user_password
        - wp_admin_password
        - wp_auth_key
        - wp_auth_salt
        - wp_logged_in_key
        - wp_logged_in_salt
        - wp_nonce_key
        - wp_nonce_salt
        - wp_secure_auth_key
        - wp_secure_auth_salt
  nginx:
    build:
      context: ./requirements/nginx
    depends_on:
      - wordpress
    environment:
      SERVER_NAME: ${DOMAIN}
    volumes:
      - wordpress-html:/var/www/html
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - inception-net
    ports:
      - 443:443
    restart: always

networks:
  inception-net:
    driver: bridge

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      device: /home/rgallego/data/mariadb
      o: bind
  wordpress-html:
    driver: local
    driver_opts:
      type: none
      device: /home/rgallego/data/html
      o: bind

secrets:
  db_user_password:
    file: ./secrets/db_user_password.txt
  db_root_password:
    file: ./secrets/db_root_password.txt
  wp_user_password:
    file: ./secrets/wp_user_password.txt
  wp_admin_password:
    file: ./secrets/wp_admin_password.txt
  wp_auth_key:
    file: ./secrets/wp_auth_key.txt
  wp_auth_salt:
    file: ./secrets/wp_auth_salt.txt
  wp_logged_in_key:
    file: ./secrets/wp_logged_in_key.txt
  wp_logged_in_salt:
    file: ./secrets/wp_logged_in_salt.txt
  wp_nonce_key:
    file: ./secrets/wp_nonce_key.txt
  wp_nonce_salt:
    file: ./secrets/wp_nonce_salt.txt
  wp_secure_auth_key:
    file: ./secrets/wp_secure_auth_key.txt
  wp_secure_auth_salt:
    file: ./secrets/wp_secure_auth_salt.txt
  