# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: rgallego <rgallego@student.42madrid>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/09/14 12:47:31 by rgallego          #+#    #+#              #
#    Updated: 2021/11/20 16:02:21 by rgallego         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Test files


# Make files
gcc
*.*.swp
*.o
*.d
a.out
a.out.dSYM/
main.c
